<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<nav th:replace="fragments/header :: nav"></nav>

        <div class="container pt-5">
                <h1 class="pb-3 ">CADASTRAR NOVA CATEGORIA</h1>
                    <form class="admin-form" th:action="@{/categorias/cadastrar-categoria}" th:object="${novaCategoria}"
                          th:method="post" method="post">

                        <div class="form-group">
                            <label for="newUserName">Nome categoria</label>
                            <input type="text" class="form-control" th:field="*{nome}" id="newUserName"
                                   placeholder="Digite o nome">
                                   <p class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
                        </div>
                        <div class="row pt-3">
                            <div class="col">
                                <a class="btn btn-outline-danger" th:href="@{/categorias/lista-categorias}">Cancelar</a>
                                <button type="submit" class="btn btn-outline-danger">Salvar</button>
                            </div>
                        </div>
                    </form>
             
  
        </div>


<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>