<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<nav th:replace="fragments/header :: nav"></nav>

        <div class="container">
            <div class="row mb-2 pt-5">
                <div class="col">
                <h1 class="pb-3 ">CATEGORIAS CADASTRADAS</h1>
                <div th:replace="fragments/mensagens :: mensagens-categorias"></div>

                <div class="row mb-5">
                    <div class="col" th:each="cat : ${categorias}">
                    <div class="card"  th:id="@{|deleta-card-id-${cat.id}|}">
                        <div class="card-body">

                          <h5 class="card-title"><span th:text="${cat.id}"></span> - <span th:text="${cat.nome}"></span></h5>

                          <td><a style="text-decoration: none; color:blue"
                            th:href="@{/categorias/editar-categoria/{id}(id=${cat.id})}"
                            class="editBtn" data-toggle="tooltip"
                            data-placement="right" title="Editar">
                            <i class="fa fa-edit"></i>Editar</a>

                            <a data-bs-toggle="modal" id="remove-link" data-bs-target="#delete-categoria-modal" 
                            th:onclick="'setRowIndexAndUserId(this, ' + ${cat.id} + ')'" 
                            style="text-decoration: none; color:red">
                                <i class="fa fa-times" aria-hidden="true"></i>Excluir</a>
                        </div>
                      </div>
                    </div>
                </div>
                </div>
            </div>
            <div th:replace="fragments/deleteUserModal :: delete-categoria-modal"></div>
            <a th:href="@{/categorias/cadastrar-categoria}" >
                <button type="button" class="btn btn-success">Nova categoria</button>
            </a>
        </div>
    
<footer th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>