<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<nav th:replace="fragments/header :: nav"></nav>

        <div class="container">
            <div class="row mb-2 pt-5">
                <div class="col">
                <h1 class="pb-3 ">MARCAS</h1>
                <div th:replace="fragments/mensagens :: mensagens-marcas"></div>


                <div class="row mb-5">
                    <div class="col" th:each="marca : ${marcas}">
                    <div class="card"  th:id="@{|deleta-card-id-${marca.id}|}">
                        <div class="card-body">

                          <h5 class="card-title"><span th:text="${marca.id}"></span> - <span th:text="${marca.nome}"></span></h5>

                          <a style="text-decoration: none; color:blue"
                                    th:href="@{/marcas/editar-marca/{id}(id=${marca.id})}"
                                    class="editBtn" data-toggle="tooltip"
                                    data-placement="right" title="Editar">
                                    <i class="fa fa-edit"></i>Editar</a>

                                    <a data-bs-toggle="modal" id="remove-link" data-bs-target="#delete-marca-modal" 
                                    th:onclick="'setRowIndexAndUserId(this, ' + ${marca.id} + ')'" 
                                    style="text-decoration: none; color:red">
                                        <i class="fa fa-times" aria-hidden="true"></i>Excluir</a>
                        </div>
                      </div>
                    </div>
                </div>
                </div>
            </div>
            <div th:replace="fragments/deleteUserModal :: delete-marca-modal"></div>
            <div class="row pb-5">
                <div class="col">
                    <a href="/marcas/cadastrar-marca" >
                        <button type="button" class="btn btn-success">Nova Marca</button>
                    </a>
                </div>
            </div>
        </div>
    
<footer th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>
